body{
	background:gray;
}

#panelheader{
	position:relative;
	background-size:1000px 180px;
	background-image: url("head.jpg");
	background-repeat: no-repeat;
	height:180px;
	width:1000px;
	margin: -5px auto;
}

#panelbody{
	position:relative;
	margin: 5px auto;
	background-color:PaleGoldenRod;
	height:300px;
	width:1000px;
}

#panelfooter{
	position:relative;
	background-color:#FFFFFF;
	margin: 5px auto;
	height:70px;
	width:1000px;
}

#paneltab{
	position:relative;
	box-shadow: 0px 0px 1px 1px #FFFFFF;
	background-color:LightCyan;
	height:55px;
	width:1000px;
	margin: -5px auto;

}

#panellogin{
	position:absolute;
	background-color:#FFB94E;
	height:55px;
	width:500px;
}

#panelabout{
	position:absolute;
	background-color:#FFB94E;
	left:502px;
	height:55px;
	width:500px;
}

#panellogin:hover{
	background-color:#FFFFFF;	
}

#panelabout:hover{
	background-color:#FFFFFF;
}

#paneltag1{
	position:absolute;
	background-color:#FFB94E;
	top:0px;
	height:55px;
	width:250px;
	left:0%;

}

#paneltag2{
	position:absolute;
	background-color:#FFB94E;
	top:0px;
	height:55px;
	width:250px;
	left:250px;

}

#paneltag3{
	position:absolute;
	background-color:#FFB94E;
	top:0px;
	height:55px;
	width:250px;
	left:500px;

}

#paneltag4{
	position:absolute;
	background-color:#FFB94E;
	top:0px;
	height:55px;
	width:250px;
	left:750px;

}

#intext{
	position:relative;
	background-color:PaleGoldenRod;
	height:1000px;
	width:1000px;
	margin: -5px auto;
}
#intext2{
	position:relative;
	background-color:PaleGoldenRod;
	height:1000px;
	width:1000px;
	margin: -5px auto;
}

#intextpro{
	position:relative;
	background-color:PaleGoldenRod;
	height:370px;
	width:1000px;
	margin: 5px auto;
}

#intextform{
	position:relative;
	background-color:PaleGoldenRod;
	height:670px;
	width:1000px;
	margin: 5px auto;
}

#mem1{
	position:absolute;
	background-color:#DCDCDC;
	top:90px;
	height:220px;
	width:180px;
	left:200px;
	right:20%;
	background-image: url("jom2.jpg");
	background-size: 180px 220px;
	background-repeat: no-repeat;
}

#mem2{
	position:absolute;
	background-color:#DCDCDC;
	top:90px;
	height:220px;
	width:180px;
	left:600px;
	right:20%;
	background-image: url("boom2.jpg");
	background-size: 180px 220px;
	background-repeat: no-repeat;
}

#mem3{
	position:absolute;
	background-color:#DCDCDC;
	top:700px;
	height:220px;
	width:180px;
	left:200px;
	right:20%;
	background-image: url("pang22.jpg");
	background-size: 180px 220px;
	background-repeat: no-repeat;
}

#mem4{
	position:absolute;
	background-color:#DCDCDC;
	top:700px;
	height:220px;
	width:180px;
	left:600px;
	right:20%;
	background-image: url("may22.jpg");
	background-size: 180px 220px;
	background-repeat: no-repeat;
}

#mem5{
	position:absolute;
	background-color:#DCDCDC;
	top:390px;
	height:220px;
	width:180px;
	left:400px;
	right:20%;
	background-image: url("ant.jpg");
	background-size: 180px 220px;
	background-repeat: no-repeat;
}

#mem6{
	position:absolute;
	background-color:#DCDCDC;
	top:90px;
	height:220px;
	width:180px;
	left:200px;
	right:20%;
	background-image: url("may22.jpg");
	background-size: 180px 220px;
	background-repeat: no-repeat;
}

#mem7{
	position:absolute;
	background-color:#DCDCDC;
	top:90px;
	height:220px;
	width:180px;
	left:600px;
	right:20%;
	background-image: url("may22.jpg");
	background-size: 180px 220px;
	background-repeat: no-repeat;
}
#mem8{
	position:absolute;
	background-color:#DCDCDC;
	top:390px;
	height:220px;
	width:180px;
	left:400px;
	right:20%;
	background-image: url("may22.jpg");
	background-size: 180px 220px;
	background-repeat: no-repeat;
}
#mem9{
	position:absolute;
	background-color:#DCDCDC;
	top:700px;
	height:220px;
	width:180px;
	left:200px;
	right:20%;
	background-image: url("may22.jpg");
	background-size: 180px 220px;	
	background-repeat: no-repeat;
}
#mem10{
	position:absolute;
	background-color:#DCDCDC;
	top:700px;
	height:220px;
	width:180px;
	left:600px;
	right:20%;
	background-image: url("may22.jpg");
	background-size: 180px 220px;
	background-repeat: no-repeat;
}


#tm1{
	position:absolute;
	top:340px;
	height:220px;
	width:180px;
	left:200px;
	right:20%
}

#idm1{
	position:absolute;
	top:320px;
	height:220px;
	width:180px;
	left:200px;
	right:20%
}

#em1{
	position:absolute;
	top:360px;
	height:220px;
	width:180px;
	left:200px;
	right:20%
}

#tm2{
	position:absolute;
	top:340px;
	height:220px;
	width:180px;
	left:600px;
	right:20%
}

#idm2{
	position:absolute;
	top:320px;
	height:220px;
	width:180px;
	left:600px;
	right:20%
}

#em2{
	position:absolute;
	top:360px;
	height:220px;
	width:180px;
	left:600px;
	right:20%
}

#tm3{
	position:absolute;
	top:950px;
	height:220px;
	width:180px;
	left:200px;
	right:20%
}

#idm3{
	position:absolute;
	top:930px;
	height:220px;
	width:180px;
	left:200px;
	right:20%
}

#em3{
	position:absolute;
	top:970px;
	height:220px;
	width:180px;
	left:200px;
	right:20%
}

#tm4{
	position:absolute;
	top:950px;
	height:220px;
	width:180px;
	left:600px;
	right:20%
}

#idm4{
	position:absolute;
	top:930px;
	height:220px;
	width:180px;
	left:600px;
	right:20%
}

#em4{
	position:absolute;
	top:970px;
	height:220px;
	width:180px;
	left:600px;
	right:20%
}

#tm5{
	position:absolute;
	top:640px;
	height:220px;
	width:180px;
	left:400px;
	right:20%
}

#idm5{
	position:absolute;
	top:620px;
	height:220px;
	width:180px;
	left:400px;
	right:20%
}

#em5{
	position:absolute;
	top:660px;
	height:220px;
	width:180px;
	left:400px;
	right:20%
}

#idm6{
	position:absolute;
	top:320px;
	height:220px;
	width:180px;
	left:200px;
	right:20%
}
#em6{
	position:absolute;
	top:360px;
	height:220px;
	width:180px;
	left:200px;
	right:20%
}

#tm6{
	position:absolute;
	top:340px;
	height:220px;
	width:180px;
	left:200px;
	right:20%
}

#idm7{
	position:absolute;
	top:330px;
	height:220px;
	width:180px;
	left:600px;
	right:20%
}
#em7{
	position:absolute;
	top:370px;
	height:220px;
	width:180px;
	left:600px;
	right:20%
}

#tm7{
	position:absolute;
	top:350px;
	height:220px;
	width:180px;
	left:600px;
	right:20%
}

#tm8{
	position:absolute;
	top:640px;
	height:220px;
	width:180px;
	left:400px;
	right:20%
}

#idm8{
	position:absolute;
	top:620px;
	height:220px;
	width:180px;
	left:400px;
	right:20%
}

#em8{
	position:absolute;
	top:660px;
	height:220px;
	width:180px;
	left:400px;
	right:20%
}

#tm9{
	position:absolute;
	top:950px;
	height:220px;
	width:180px;
	left:200px;
	right:20%
}

#idm9{
	position:absolute;
	top:930px;
	height:220px;
	width:180px;
	left:200px;
	right:20%
}

#em9{
	position:absolute;
	top:970px;
	height:220px;
	width:180px;
	left:200px;
	right:20%
}

#idm10{
	position:absolute;
	top:930px;
	height:220px;
	width:180px;
	left:600px;
	right:20%
}
#em10{
	position:absolute;
	top:950px;
	height:220px;
	width:180px;
	left:600px;
	right:20%
}

#tm10{
	position:absolute;
	top:970px;
	height:220px;
	width:180px;
	left:600px;
	right:20%
}


#logoutloc{
	position:absolute;
	top:0px;
	right:10px;
}

h1{
	color:#708090;
	font-weight:900;
	top:1em;
	font-size:1.3em;
}
